<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>


  <ion-list>
    @for(note of noteS.notes$ | async;track note.key){
      <ion-item-sliding (ionSwipe)="noteSwiped($event, note)">
      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="start" src="assets/icons/create.svg" (click)="editNote(note)" style="zoom: 1.5;"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-accordion-group color="light">
        <ion-accordion value="first" color="light">
          <ion-item slot="header" color="light">
            <ion-thumbnail slot="start">
              <img [src]="note.img" alt="Note Image">
            </ion-thumbnail>
            <ion-label>{{note.title}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label>{{note.description}}</ion-label>
          </div>
          <div class="ion-padding" slot="content">
            <ion-label slot="start">{{ formatDate(note.date) }}</ion-label>

          </div>
          
            <div class="ion-padding" slot="content">
              
                
              
            </div>
         
        </ion-accordion>
      </ion-accordion-group>
      

      
      
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable>
          <ion-icon slot="start" src="assets/icons/trash.svg" (click)="deleteNote($event, note)" style="zoom: 1.5;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  }
  </ion-list>
  @if(isInfiniteScrollAvailable){
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more notes..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }

</ion-content>
