ion-card {
    margin: 20px;
  }
  
  ion-card-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #3880ff; /* Color azul primario de Ionic */
  }
  
  ion-card-content {
    line-height: 1.6;
  }
  
  ion-content {
    background-color: #f4f5f8; /* Fondo suave para la página */
  }
  