<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">¡Hola, soy Rafa!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Bienvenido a "Notea", mi proyecto personal para ayudarte a capturar tus ideas y mantener tu vida organizada.
        Como desarrollador apasionado, he creado esta aplicación con la intención de ofrecerte una experiencia
        de toma de notas simple pero poderosa.
      </p>

      <p>
        En "Notea", encontrarás una interfaz amigable y funcionalidades diseñadas para adaptarse a tu ritmo de vida.
        Desde la creación de listas hasta la gestión de tareas diarias, "Notea" está aquí para facilitarte la vida.
      </p>

      <p>
        "Notea" no es solo una aplicación, es mi compromiso contigo. Me esfuerzo por mejorar continuamente la aplicación
        con nuevas características y mejoras basadas en tus comentarios y necesidades.
      </p>

      <p>
        Gracias por elegir "Notea" como tu compañero en la toma de notas. Espero que disfrutes de la experiencia tanto
        como yo disfruté creándola.
      </p>

      <p>
        ¡Mantén tus ideas fluyendo y tus tareas organizadas con "Notea"!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>